<div class="container">
	<% @post_activity.comments.each do |c| %>
		<p><strong><%= c.content %> </strong> - 
		<%= time_ago_in_words c.created_at%> 
		<% end %>
		
	<p><%= link_to "Back", :back  %> </p>
</div>	
