<div class ="container">
	<br>	
		<h1>Edit Workout</h1>
	<div class='col-md-8'>	
	<%= render 'form' %>
	<br>
	<%= link_to 'All post', post_activities_path %>
	
	<%= link_to 'Back', :back %>
	</div>
</div>	