
@import "bootstrap-sprockets";
@import "bootstrap";
@import "post_activities.scss";
@import "pagination.sass";

.notice {
	margin:0px;
	text-align: right;

}
.alert {
	margin: 0;
}

.navbar {
	margin:0;
}

.fb_button img{
	margin-top: 5px;
	width: 15%;
	height: 15%;

}

.fb_button_home img{
	margin-top: 5px;
	width: 300px;
	height: auto;

}
