@import "show";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "post_activities.scss";
@import "pagination.sass";
@import "bootsnip-avatar";
@import "devise";

.notice {
	margin:0px;
	text-align: right;

}
.alert {
	margin: 0;
}

.navbar {
	margin:0;
}

.fb_button img{
	margin-top: 5px;
	width: 200px;
	

}

.fb_button_home img{
	margin-top: 5px;
	width: 300px;
	height: auto;

}
body {
	margin-top:0;
	padding: 0;
}
