// Place all the styles related to the post_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
padding:20px;
margin-top: 0;
background: url(/assets/jumbotron_bg.jpg) no-repeat top center;
height: 500px;
background-size: 100% ;
}


.img-rounded {
	
	width:50px;
	height:50px;
}

.welcome-user-image{
	margin-top: 10px;

	border-radius: 25%;
    width: 200px;
    height: 200px;
    
}

.activity-points {
	float: right;
	color:red;
	font-size: 1.8em;
}

.comments {
	float:right;
	display: inline-block;
}
@media(min-width: 991px){
	h1{
		font-size: 4.0em !important;
	}


	.sign_in_form{
		width: 25%;
		margin-left: 20px;
		
	}
	.card {
		margin: 0 !important;
	}
	

}	
@media(max-width: 991px){
	h1 {
		font-size: 2.6em !important;
		margin-top: 0;

	}
	.card {
		margin: 0 !important;
	}
	

	.sign_in_form{
		width: 25%;
		margin-left: 20px;
		
	}

.jumbotron-desc{
		width: 300px;
		text-align: center;
	}
.form-label {
	font-size: 1.3em !important;
}	



}
@media(max-width: 690px){
	.jumbotron:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background: url(/assets/jumbotron_bg.jpg)top center;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
	}
	.jumbotron{  
		background: none;
		position: relative;
  		left: 0;
  		right: 0;
  		top: 0;
  		z-index: 0;
  		margin-left: 0px;
  		margin-right: 0px;
  		margin-top: -20px;
  		text-align: center;


	}
	.jumbotron-desc{
		width: 100%;
		text-align: center;
	}

	.fb_button_home  {
		width: 100%;
		margin: 25px 0 0 0;

	}

	.sign_in_form{
		width: 60%;
		margin:0 auto;

	}

	.workout_title {
			font-size: .75em;
	}


	.activity-points {
	
	font-size: 1.4em;
	margin: auto 0
}


		
}

