// Place all the styles related to the post_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
padding:20px;
margin-top: 0;
background: url(/assets/jumbotron_bg.jpg) no-repeat top center;
height: 500px;
background-size: 100% ;
}

.img-rounded {
	
	width:50px;
	height:50px;
}

.activity-points {
	float: right;
	color:red;
	font-size: 1.8em;
}


