<div class ="container">
	<br>
	<h1>Editing Activity</h1>
	<div class="col-md-8">
		<%= render 'form' %>
		<br>
		<%= link_to 'Show', @activity %> |
		<%= link_to 'Back', activities_path %>
</div>
</div>	

